.placard {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.placard-text {
    margin-top: 40px;
    text-align: left;
    font-size: 0.8rem;
    width: 500px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.about-me {
    margin: 0 80px;
}

h2 {
    color: #ffff00;
    margin: 0;
}

code {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: hotpink;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: hotpink;
}