<main>
    <article>
        <div class="placard">
            <p class="placard-text">
                Full-stack developer focused on creativity and collaboration. I enjoy designing systems, building
                engaging
                experiences, and learning new tech along the way!
            </p>
            <img src="assets/profile.jpg" />
        </div>
        <div class="about-me">
            <h2>
                About Me
            </h2>
            <p>
                This is some text about me. Nice to meet you! I love programming and coding and looking at text on
                computers. Building software is my passion!
            </p>
        </div>
    </article>
</main>