.placard {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.placard-text {
    text-align: left;
    font-size: 0.9rem;
    width: 500px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.about-me {
    margin: 30px 80px;
}

h2 {
    color: #ffff00;
    margin: 0;
    display: inline;
}

.banana {
    width: 42px;
    height: auto;
    vertical-align: middle;
    position: relative;
    top: -10px;
    margin-left: 10px;
}

code {
    font-family: 'Comic Relief', system-ui;
    color: hotpink;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: hotpink;
}

@media (max-width: 1200px) {
    .placard {
        flex-direction: column;
        text-align: center;
    }

    .placard-text {
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }

    .about-me {
        margin: 30px 20px;
    }

    img {
        width: 120px;
        height: 120px;
    }
}
