.placard {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.placard-text {
    text-align: left;
    font-size: 0.9rem;
    width: 500px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.about-me {
    margin: 30px 80px;
}

h2 {
    color: #ffff00;
    margin: 0;
    display: inline;
}

.banana {
    width: 42px;
    height: auto;
    vertical-align: middle;
    position: relative;
    top: -10px;
    margin-left: 10px;
}

code {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: hotpink;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: hotpink;
}
