form {
    max-width: 600px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-top: 5px;
    padding: 0.6rem;
    font-size: 1rem;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #c0c0c0;
    color: #000;
    border: 2px solid #808080;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-radius: 0;
    padding: 4px 8px;
    font-family: "Tahoma", sans-serif;
    font-size: 14px;
    cursor: default;
    box-shadow: inset -1px -1px 0 #808080, inset 1px 1px 0 #ffffff;
    transition: none;
}

button:hover {
    transform: scale(1.01);
}