<main>
    <article>
        <div class="project">
            <img src="images/work/twitter-api.PNG" alt="Twitter API Screenshot" />
            <div class="project-content">
                <h2>
                    <a href="https://github.com/fasttrackd-student-work/spring-assessment-social-media-oct-2025-team-3"
                        target="_blank">Twitter Spring API</a>
                </h2>
                <h3>RESTful Web Service</h3>
                <p>
                    Social media backend built with Spring Boot, JPA,
                    and PostgreSQL. Implemented endpoints for users,
                    tweets, hashtags, likes, reposts, replies, and
                    follower relationships. Features include account
                    validation, feed generation, hashtag and mention
                    parsing, and “soft delete” handling to maintain
                    relational integrity.
                </p>
            </div>
        </div>
        <div class="project">
            <img src="images/work/code-racer-screenshot.PNG" alt="Code Racer Project Screenshot" />
            <div class="project-content">
                <h2>
                    <a href="https://github.com/minh-t-coding/code-racer" target="_blank">Code Racer</a>
                </h2>
                <h3>Multiplayer Competitive Web App</h3>
                <p>
                    Real-time competitive coding web app inspired by
                    TypeRacer, but using algorithm challenges from
                    LeetCode. I implemented a multi-user lobby system
                    with Socket.io and developed the back-end using
                    Node.js and the Express framework.
                </p>
            </div>
        </div>
        <div class="project">
            <img src="images/work/giuseppe-long.png" alt="Giuseppe's Mission Screenshot" />
            <div class="project-content">
                <h2>
                    <a href="https://rosunestudios.itch.io/giuseppes-mission" target="_blank">Giuseppe's Mission</a>
                </h2>
                <h3>Casual Run & Draw Browser Game</h3>
                <p>
                    A fast-paced arcade game where players shadow a
                    moving target while navigating obstacles and casting
                    alchemical spells. I implemented procedural level
                    generation by linking generated room sections,
                    real-time spellcasting using the $1 gesture
                    recognizer, and resource management mechanics.
                </p>
            </div>
        </div>

        <div class="project">
            <img src="images/work/beat-drop.png" alt="BeatDrop Screenshot" />
            <div class="project-content">
                <h2>
                    <a href="https://github.com/minh-t-coding/MusicGame" target="_blank">BeatDrop</a>
                </h2>
                <h3>Physics-based Music Sandbox</h3>
                <p>
                    Solo developed Unity physics-based sandbox music
                    game. Players draw notes on a canvas and release a
                    ball to play music based on the surfaces it hits.
                    Maps can be saved, shared, and imported, letting
                    players create and explore intricate musical
                    creations.
                </p>
            </div>
        </div>
    </article>
</main>