.project {
    display: flex;
    overflow: hidden;
    margin: 1rem 0;
    padding: 1rem;
    gap: 1.5rem;
}

.project img {
    width: 400px;
    height: auto;
}

.project-content h2 {
    margin: 0 0 0.25rem 0;
    font-size: 1.5rem;
}

.project-content h3 {
    color: #ffff00;
    margin: 0 0 0.5rem 0;
    font-size: 1.1rem;
    font-weight: normal;
}

.project-content p {
    color: #ffffff;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

.toggle-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    gap: 2px;
    border: none;
    cursor: pointer;
    color: #ffff00a2;
    font-size: 1rem;
}

.toggle.active {
    color: #ffff00;
}

.toggle:hover {
    filter: brightness(0.92);
}

.toggle h3 {
    margin-bottom: 5px;
}

.toggle img {
    width: 97px;
    height: 31px;
}

@media (max-width: 1200px) {
    .project {
        flex-direction: column;
        padding: 0.5rem;
    }

    .project img {
        width: 100%;
        height: auto;
    }

    .toggle-container {
        gap: 20px;
        flex-wrap: wrap;
    }

    .toggle img {
        width: 80px;
        height: auto;
    }
}
