nav {
  font-size: 22px;
  margin: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.logo {
  justify-content: flex-start;
}