nav {
    background: #0a0a0a;
    position: sticky;
    top: 0;
    z-index: 999;
    outline: solid #fff 1px;
}

.nav-banner {
    font-size: 22px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    justify-content: flex-start;
    height: 30px;
    width: 220px;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.cat {
    align-self: flex-end;
}

@media (max-width: 1200px) {
    .nav-banner {
        flex-direction: column;
        gap: 10px;
        margin: 10px;
    }

    .logo {
        margin-top: 20px;
        width: 180px;
        height: auto;
    }

    .links {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0;
        font-size: 16px;
    }

    .cat {
        display: none;
    }
}
