nav {
  background: #0a0a0a;
  position: sticky;
  top: 0;
  z-index: 999;
  outline: solid #fff 1px;
}

.nav-banner {
  font-size: 22px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  justify-content: flex-start;
  height: 30px;
  width: 220px;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.05);
}